<div class="title">My coding time goes toward...</div>
<div class="description">
	<p><strong><a href="https://github.com/joebuhlig/discourse-feature-voting">discourse-feature-voting</a>.</strong> I recently built this plugin for the <a href="http://www.discourse.org/">Discourse</a> platform. It's one of the more complicated builds I've done in the last six months. If you're looking for an example of the code I've written, this is a great place to look.</p>
	<p><strong><a href="http://joebuhlig.com">joebuhlig.com</a>.</strong> I maintain my own site as well as a handful of subdomains of the main URL. Any tweaks, UI changes, or performance enhancements are handled on my own.</p>
	<p><strong>a new project.</strong> To go along with the retail opportunity I mentioned on the <a href="/time">time page</a>, I've been planning out a new ecommerce site to go along with it.</p>
</div>