<div class="title">My coding time goes toward...</div>
<div class="description">
	<p><strong>WordPress sites.</strong> The majority of my time goes towards the building of new custom sites. These range from single page setups to fully integrated and custom coded dynamic sites. If you're interested in having me build your home on the web, <a href="http://joebuhlig.com/contact">shoot me an email</a>.</p>
	<p><strong><a href="http://joebuhlig.com">joebuhlig.com</a>.</strong> I maintain my own site as well as a handful of subdomains off the main URL. Any tweaks, UI changes, or performance enhancements are handled on my own.</p>
	<p><strong>Discourse.</strong> I'm very familiar with <a href="http://www.discourse.org/" target="_blank">Discourse</a> and have built a few plugins for it. On occassion, I contribute to core and do a bit of custom development for other users as well.</p>
</div>