<div class="title">Hi, I'm Joe.</div>
<div class="description">
	<p>I'm a farmboy turned computer nut. I've run heavy equipment and I've built sophisticated web applications. If there's something I don't understand or know how to do, I do way too much research and dive in. At the same time, I tend to make decisions and move on to the next project pretty quick. This site is a summary of where I'm currently directing my attention. I add to it and update it as needed.</p>
</div>
<%= render partial: "credits" %>