<div class="title">Hi, I'm Joe.</div>
<div class="description">
	<p>I'm a farmboy turned computer nut. I'm fascinated with solving problems and that has taken me on a journey from running heavy equipment to building sophisticated web applications. And it's these varied experiences that keep my mind active and have me continually looking for new ideas. This site is a summary of where I'm currently directing my attention and the ideas I'm working to realize. The inspiration for it came from <a href="https://sivers.org/now">Derek Sivers</a> and is an expansion on the idea of a Now page.</p>
</div>