<div class="title">I'm currently reading...</div>
<div class="description">
	<h4>a couple books:</h4>
	<p><a href="http://www.amazon.com/Willpower-Instinct-Self-Control-Works-Matters/dp/1583335080?tag=joebuhlig-20"><em>The Willpower Instinct</em></a> by Kelly McGonigal, Ph.D.</p>
	<p><a href="http://www.amazon.com/Spurgeon-Prayer-Pure-Gold-Classics/dp/088270639X"><em>Spurgeon on Prayer</em></a> by Charles Spurgeon</p>
	<h4>some fantastic blogs:</h4>
	<p><a href="http://extratextuals.com/">Extratextuals</a> - Drew Coffman has a great way of expressing his thoughts on meaning in film, technology, and music.</p>
	<p><a href="https://sivers.org/">Derek Sivers</a> - Derek always has great insight. We share a lot of passions and I find myself sharing almost every article he writes.</p>
	<p><a href="https://shawnblanc.net/">Shawn Blanc</a> - I think I follow every site Shawn creates or writes for. He truly gets it when it comes to living a fulfilling life and working with technology.</p>
	<h4>recent books:</h4>
	<p><a href="http://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0143126563?tag=joebuhlig-20"><em>Getting Things Done - 2015 ed</em></a> by David Allen</p>
	<p><a href="http://www.amazon.com/Delivered-Distraction-Getting-Attention-Disorder/dp/0345442318/ref=as_li_ss_tl?ie=UTF8&qid=1461943544&sr=8-1&keywords=delivered+from+distraction&linkCode=ll1&tag=joebuhlig-20&linkId=40d8a9cdc53857eae1e8bafb20b5faa3"><em>Delivered From Distraction</em></a> by Edward M. Hallowell, M.D. & John J. Ratey, M.D.</p>
</div>