<div class="title">I'm currently reading...</div>
<div class="description">
	<p><strong>a couple books:</strong></p>
	<p><a href="http://peopleoverprofit.com"><em>People Over Profit</em></a> by Dale Partridge</p>
	<p><a href="http://www.amazon.com/Spurgeon-Prayer-Pure-Gold-Classics/dp/088270639X"><em>Spurgeon on Prayer</em></a> by Charles Spurgeon</p>
	<p><strong>some fantastic blogs:</strong></p>
	<p><a href="http://extratextuals.com/">Extratextuals</a> - Drew Coffman has a great way of expressing his thoughts on meaning in film, technology, and music.</p>
	<p><a href="https://sivers.org/">Derek Sivers</a> - Derek always has great insight. We share a lot of passions and I find myself sharing almost every article he writes.</p>
	<p><a href="https://shawnblanc.net/">Shawn Blanc</a> - I think I follow every site Shawn creates or writes for. He truly gets it when it comes to living a fulfilling life and working with technology.</p>
</div>