<div class="title">I'm currently reading...</div>
<div class="description">
	<p>books:</p>
	<p class="indent"><a href="https://www.amazon.com/Power-Myth-Joseph-Campbell/dp/0385418868/ref=sr_1_1?tag=joebuhlig-20"><em>The Power of Myth</em></a> by Joseph Campbell, Bill Moyers</p>
	<p class="indent"><a href="https://www.amazon.com/Hobbit-J-R-Tolkien/dp/054792822X/ref=pd_bxgy_14_img_3?tag=joebuhlig-20"><em>The Hobbit</em></a> by J.R.R. Tolkien</p>
	<p>blogs:</p>
	<p class="indent"><a href="http://artofmanliness.com/">Art of Manliness</a> - Even my wife enjoys articles from this one. It's solid and in-depth. I highly recommend it to anyone.</p>
	<p class="indent"><a href="http://extratextuals.com/">Extratextuals</a> - Drew Coffman has a great way of expressing his thoughts on meaning in film, technology, and music.</p>
	<p class="indent"><a href="https://sivers.org/">Derek Sivers</a> - Derek always has great insight. We share a lot of passions and I find myself reading almost every article he writes.</p>
	<p class="indent"><a href="https://shawnblanc.net/">Shawn Blanc</a> - I think I follow every site Shawn creates or writes for. He truly gets it when it comes to living a fulfilling life and working with technology.</p>
	<div style="height:20px;"></div>
	<div class="title">Books read in 2017:</div>
	<p class="indent"><a href="https://www.amazon.com/Step-Pursuing-Dreams-Midst-Everyday/dp/0997029803/ref=sr_1_1?tag=joebuhlig-20"><em>Step</em></a> by Chris Capehart</p>
	<p class="indent"><a href="https://www.amazon.com/Rhinoceros-Success-Secret-Charging-Opportunity/dp/1937077152/ref=sr_1_1?tag=joebuhlig-20"><em>Rhinoceros Success</em></a> by Scott Alexander</p>
	<p class="indent"><a href="https://www.amazon.com/Medium-Massage-Marshall-McLuhan/dp/1584230703/ref=sr_1_1?tag=joebuhlig-20"><em>The Medium is the Massage</em></a> by Marshall McLuhan</p>
	<p class="indent"><a href="https://www.amazon.com/10X-Rule-Difference-Between-Success/dp/0470627603/ref=sr_1_1?tag=joebuhlig-20"><em>The 10X Rule</em></a> by Grant Cardone</p>
	<p class="indent"><a href="https://www.amazon.com/Starting-Strength-Basic-Barbell-Training/dp/0982522738/ref=sr_1_1?tag=joebuhlig-20"><em>Starting Strength</em></a> by Mark Rippetoe</p>
	<p class="indent"><a href="https://www.amazon.com/Personal-MBA-Master-Art-Business/dp/1591845572/ref=sr_1_1?tag=joebuhlig-20"><em>The Personal MBA</em></a> by Josh Kaufman</p>
	<p class="indent"><a href="https://www.amazon.com/Cooked-Natural-Transformation-Michael-Pollan/dp/0143125338/ref=sr_1_1?tag=joebuhlig-20"><em>Cooked</em></a> by Michael Pollan</p>
	<p class="indent"><a href="https://www.amazon.com/Who-Moved-My-Cheese-Amazing/dp/0399144463/ref=sr_1_1?tag=joebuhlig-20"><em>Who Moved My Cheese?</em></a> by Spencer Johnson</p>
	<p class="indent"><a href="https://www.amazon.com/Way-Men-Jack-Donovan/dp/0985452307/ref=sr_1_1?tag=joebuhlig-20"><em>The Way of Men</em></a> by Jack Donovan</p>
	<p class="indent"><a href="https://www.amazon.com/Shallows-What-Internet-Doing-Brains/dp/0393339750/ref=sr_1_3?tag=joebuhlig-20"><em>The Shallows</em></a> by Nicholas Carr</p>
	<p class="indent"><a href="https://www.amazon.com/Multiply-Disciples-Making-Francis-Chan/dp/0781408237/ref=sr_1_1?tag=joebuhlig-20"><em>Multiply</em></a> by Francis Chan</p>
	<div class="title">Books read in 2016:</div>
	<p class="indent"><a href="https://www.amazon.com/Decisive-Make-Better-Choices-Life/dp/0307956393/ref=sr_1_1?tag=joebuhlig-20"><em>Decisive</em></a> by Chip Heath, Dan Heath</p>
	<p class="indent"><a href="https://www.amazon.com/Ever-Loving-Truth-Thrive-Post-Christian-Culture/dp/0805427880/ref=sr_1_1?tag=joebuhlig-20"><em>The Ever-Loving Truth</em></a> by Voddie Baucham Jr.</p>
	<p class="indent"><a href="https://www.amazon.com/QBQ-Question-Behind-Practicing-Accountability/dp/0399152334/ref=sr_1_1?tag=joebuhlig-20"><em>QBQ! The Question Behind the Question</em></a> by John G. Miller</p>
	<p class="indent"><a href="https://www.amazon.com/Gods-Smuggler-Brother-Andrew/dp/0800796853/ref=sr_1_1?tag=joebuhlig-20"><em>God's Smuggler</em></a> by Brother Andrew</p>
	<p class="indent"><a href="https://www.amazon.com/Checklist-Manifesto-How-Things-Right/dp/0312430000/ref=sr_1_1?tag=joebuhlig-20"><em>The Checklist Manifesto</em></a> by Atul Gawande</p>
	<p class="indent"><a href="https://www.amazon.com/Strong-Fathers-Daughters-Secrets-Father/dp/0345499395/ref=sr_1_1?tag=joebuhlig-20"><em>Strong Fathers, Strong Daughters</em></a> by Meg Meeker</p>
	<p class="indent"><a href="https://www.amazon.com/BrainChains-explained-efficiency-creativity-multitasking/dp/9082205807/ref=sr_1_1?tag=joebuhlig-20"><em>BrainChains</em></a> by Theo Compernolle</p>
	<p class="indent"><a href="https://www.amazon.com/Harbinger-Ancient-Mystery-Secret-Americas/dp/161638610X/ref=sr_1_1?tag=joebuhlig-20"><em>The Harbinger</em></a> by Jonathan Cahn</p>
	<p class="indent"><a href="https://www.amazon.com/12-Week-Year-Others-Months/dp/1118509234/ref=sr_1_1?tag=joebuhlig-20"><em>The 12 Week Year</em></a> by Brian P. Moran, Michael Lennington</p>
	<p class="indent"><a href="https://www.amazon.com/Zig-Autobiography-Ziglar/dp/0385502974/ref=sr_1_1?tag=joebuhlig-20"><em>The Autobiography of Zig Ziglar</em></a> by Zig Ziglar</p>
	<p class="indent"><a href="https://www.amazon.com/Managing-Oneself-Harvard-Business-Classics/dp/142212312X/ref=sr_1_1?tag=joebuhlig-20"><em>Managing Oneself</em></a> by Peter Drucker</p>
	<p class="indent"><a href="https://www.amazon.com/Productivity-Project-Accomplishing-Managing-Attention/dp/1101904038/ref=sr_1_1?tag=joebuhlig-20"><em>The Productivity Project</em></a> by Chris Bailey</p>
	<p class="indent"><a href="https://www.amazon.com/Innovators-Dilemma-Revolutionary-Change-Business/dp/0062060244?tag=joebuhlig-20"><em>The Innovator’s Dilemma</em></a> by Clayton M. Christensen</p>
	<p class="indent"><a href="https://www.amazon.com/Start-Why-Leaders-Inspire-Everyone/dp/1591846447/ref=sr_1_1?tag=joebuhlig-20"><em>Start With Why</em></a> by Simon Sinek</p>
	<p class="indent"><a href="https://www.amazon.com/Daring-Greatly-Courage-Vulnerable-Transforms/dp/1592408419/ref=sr_1_1?tag=joebuhlig-20"><em>Daring Greatly</em></a> by Brené Brown</p>
	<p class="indent"><a href="https://www.amazon.com/Power-Full-Engagement-Managing-Performance/dp/0743226755/ref=sr_1_1?tag=joebuhlig-20"><em>The Power Of Full Engagement</em></a> by Jim Loehr, Tony Schwartz</p>
	<p class="indent"><a href="https://www.amazon.com/Deep-Work-Focused-Success-Distracted/dp/1455586692/ref=sr_1_1?tag=joebuhlig-20"><em>Deep Work</em></a> by Cal Newport</p>
	<p class="indent"><a href="https://www.amazon.com/More-Less-Finding-Under-Everything/dp/1601427964?tag=joebuhlig-20"><em>The More Of Less</em></a> by Joshua Becker</p>
	<p class="indent"><a href="https://www.amazon.com/Essentialism-Disciplined-Pursuit-Greg-McKeown/dp/0804137382?tag=joebuhlig-20"><em>Essentialism</em></a> by Greg McKeown</p>
	<p class="indent"><a href="https://www.amazon.com/Obstacle-Way-Timeless-Turning-Triumph/dp/1591846358/ref=sr_1_1?tag=joebuhlig-20"><em>The Obstacle Is the Way</em></a> Ryan Holiday</p>
	<p class="indent"><a href="https://www.amazon.com/War-Art-Through-Creative-Battles/dp/1936891026/ref=sr_1_1?tag=joebuhlig-20"><em>The War of Art</em></a> by Steven Pressfield</p>
	<p class="indent"><a href="http://www.amazon.com/Willpower-Instinct-Self-Control-Works-Matters/dp/1583335080?tag=joebuhlig-20"><em>The Willpower Instinct</em></a> by Kelly McGonigal, Ph.D.</p>
	<p class="indent"><a href="http://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0143126563?tag=joebuhlig-20"><em>Getting Things Done - 2015 ed</em></a> by David Allen</p>
	<p class="indent"><a href="http://www.amazon.com/Delivered-Distraction-Getting-Attention-Disorder/dp/0345442318/ref=as_li_ss_tl?ie=UTF8&qid=1461943544&sr=8-1&keywords=delivered+from+distraction&linkCode=ll1&tag=joebuhlig-20&linkId=40d8a9cdc53857eae1e8bafb20b5faa3"><em>Delivered From Distraction</em></a> by Edward M. Hallowell, M.D. & John J. Ratey, M.D.</p>
</div>