<div class="title">My time goes toward...</div>
<div class="description">
	<p><strong>family.</strong> I try to spend as much time as I can with my amazing wife and two (almost three!) wonderful little girls. Those relationships deserve my utmost attention.</p>
	<p><strong>writing.</strong> I really enjoy writing. I write for my <a href="http://joebuhlig.com">personal blog</a> and do most of it with <a href="http://joebuhlig.com/the-science-and-experience-of-analog-writing/">pen and paper</a>. I know. Weird.</p>
	<p><strong>podcasting.</strong> I co-host a show about the books I'm reading with <a href="http://mikeschmitz.me/">Mike Schmitz</a> called <a href="http://bookworm.fm">Bookworm</a>. I also co-host <a href="http://theoreticalaccountability.fm">Theoretical Accountability</a> with Josh Rensch, which is about our goals and keeping each other on track. But that's not enough so I started a third with Drew Coffman about productivity and technology called <a href="http://whimsthatwork.fm">Whims That Work</a>.</p>
	<p><strong>development.</strong> A core part of my business is web development. I work on a few of <a href="#" class="development link">my own projects</a> but I also do quite a bit of work for clients.</p>
	<p><strong>Director of IT</strong>. I have a part-time position at our church managing anything that has a cord beyond a power supply or connects to WiFi.</p>
</div>