<div class="title">My time goes toward...</div>
<div class="description">
	<p><strong>family.</strong> I try to spend as much time as I can with my amazing wife and two wonderful little girls. Those relationships deserve my utmost attention.</p>
	<p><strong>writing.</strong> I really enjoy writing. I write for my <a href="http://joebuhlig.com">personal blog</a> and have started writing articles for the <a href="http://asianefficiency.com">Asian Efficiency</a> team. I'm also in the process of writing scripts for my first video course.</p>
	<p><strong>development.</strong> A core part of my business is web development. I work on a few of <a href="#" class="development link">my own projects</a> but I also do work for clients.</p>
	<p><strong>retail.</strong> I recently started exploring the design of a new retail product. It's not to a stage that makes it worth talking about but it's beginning to look like a go and requires more and more of my time.</p>
</div>