<div class="title">My time goes toward...</div>
<div class="description">
	<p><strong>family.</strong> I try to spend as much time as I can with my amazing wife and two (almost three!) wonderful little girls. Those relationships deserve my utmost attention.</p>
	<p><strong>writing.</strong> I really enjoy writing. I write for my <a href="http://joebuhlig.com">personal blog</a> and do most of it with <a href="http://joebuhlig.com/the-science-and-experience-of-analog-writing/">pen and paper</a>. I know. Weird.</p>
	<p><strong>podcasting.</strong> I co-host a show with <a href="http://mikeschmitz.me/">Mike Schmitz</a> called <a href="http://bookworm.fm">Bookworm</a>. I've learned that I love the process of recording a show and sharing it with the world. Hopefully, I'm able to do more of this in future.</p>
	<p><strong>development.</strong> A core part of my business is web development. I work on a few of <a href="#" class="development link">my own projects</a> but I also do quite a bit of work for clients.</p>
	<p><strong>Director of IT</strong>. I have a part-time position at our church managing anything that has a cord beyond a power supply or connects to WiFi.</p>
</div>