<div id="bg-video">
	<video autoplay="autoplay" loop="loop" poster="/images/bg-poster.jpg">
		<source src="/videos/bg-video.mp4" type="video/mp4">
		<source src="/videos/bg-video.ogv" type="video/ogg">
	</video>
</div>
<div id="video-overlay"></div>
<div id="navigation">
	<ul>
		<li id="hello_link">Hello</li>
		<li id="time_link">My Time</li>
		<li id="reading_link">Reading</li>
		<li id="development_link">Development</li>
		<li id="history_link">History</li>
	</ul>
</div>
<div id="last_updated">As of: <span id="date">2016.03.31</span></div>
<div id="section_wrapper">
	<div class="section">
		<%= render partial: @page %>
	</div>
</div>
<div id="credit">Inspiration from <a href="https://sivers.org/now">Derek Sivers</a>.</div>