<div id="bg-video">
	<video autoplay loop width="100%" height="auto" poster="/images/bg-poster.jpg">
		<source src="/videos/bg-video.mp4" type="video/mp4">
		<source src="/videos/bg-video.ogv" type="video/ogg">
		<img src="/images/bg-poster.jpg">
	</video>
	<img id="mobile_fallback" src="/images/bg-poster.jpg">
</div>
<div id="video-overlay"></div>
<div id="navigation">
	<ul>
		<li id="hello_link">Hello</li>
		<li id="time_link">Time</li>
		<li id="reading_link">Reading</li>
		<li id="development_link">Development</li>
		<li id="history_link">History</li>
	</ul>
</div>
<div id="section_wrapper">
	<div class="section">
		<div class="section-content">
			<%= render partial: @page %>
		</div>
	</div>
</div>