// Place all the styles related to the now controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
	background-color: #222222;
	color: #DDDDDD;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
a {
	color: #DDDDDD;
	text-decoration: underline;
}
#bg-video{
	height: 100%;
	overflow: hidden;
	position: fixed;
	z-index: 0;

	video {
		width: 100%;

		@media(max-width: 1200px){
		    height: 100%;
		    width: auto;
		}
	}
	#mobile_fallback{
		display: none;
	}
	@media(max-width: 1000px){
		margin-left: -175px;
	}
}
#video-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
}
#navigation{
	font-family: Cinzel, Helvetica, Arial, sans-serif;
	font-size: 18px;
	position: absolute;
	z-index: 1000;
	right: 0px;
	#menu{
		display: none;
	}
	ul {
		list-style: none;
		margin: 45px 5px 5px 5px;
		padding: 0px;
		border: 1px solid #DDDDDD;
		border-right: 0px;
		border-left: 0px;
	}
	li {
		cursor: pointer;
		margin: 5px 10px;
	}
}
#navigation.open{
	background-color: #FFFFFF;
	color: #828282;
	.menu-icon > svg {
		fill: #828282;
	}
	#menu {
		display: inherit;
	}
}
.menu-icon {
    display: block;
    float: right;
    margin:15px;
    text-align: center;

    > svg {
        width: 22px;
        height: 22px;
        fill: #DDDDDD
    }
}
#section_wrapper{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 100;
}
.section{
    text-align: center;
	vertical-align: middle;
	margin: 100px 0px 30px 0px;
}
.section-content{
	max-width: 600px;
	margin: 0px auto;
	padding: 10px;
	text-align: left;
	.title{
		font-family: Cinzel, Helvetica, Arial, sans-serif;
		font-size: 24px;
		margin-bottom: 10px;
	}
	.description{
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
	}
}
#footer{
	width: 100%;
	text-align: center;
	z-index: 200;
	margin:15px 0px;
	font-size: 12px;
	#last_updated {
		font-family: Cinzel, Helvetica, Arial, sans-serif;
	    margin: 10px;
	    text-align: center;
	    font-weight: 300;
	    #date{
	    	color: #DDDDDD;
	    }
	}
}
video::-webkit-media-controls {
    display:none !important;
}