// Place all the styles related to the now controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
	color: #555555;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}
#last_updated {
	color: #888888;
    margin: 10px;
    position: fixed;

    #date{
    	color: #555555;
    }
}
#navigation{
	position: fixed;
	margin: 10px calc(50% - 269px);
	width: 538px;
	z-index: 1000;

	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	li {
		cursor: pointer;
		display: inline-block;
		font-family: Cinzel, Helvetica, Arial, sans-serif;
		margin: 0px 15px;
	}
}
#section_wrapper{
	display: table;
	position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 100;
}
.section{
    max-width: 600px;
    margin: 0px auto;
    display: table-cell;
    text-align: center;
	vertical-align: middle;
}
#credit{
	position: fixed;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 12px;
}