// Place all the styles related to the now controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
	background-color: #222222;
	color: #DDDDDD;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
a {
	color: #DDDDDD;
	text-decoration: underline;
}
#bg-video{
	height: 100%;
	overflow: hidden;
	position: fixed;
	z-index: 0;

	video {
		width: 100%;

		@media(max-width: 1200px){
		    height: 100%;
		    width: auto;
		}
	}
	#mobile_fallback{
		display: none;
	}
	@media(max-width: 1000px){
		margin-left: -175px;
	}
}
#video-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
}
#navigation{
	font-family: Cinzel, Helvetica, Arial, sans-serif;
	font-size: 18px;
	position: absolute;
	margin: 0px calc(50% - 276px);
	text-align: center;
	z-index: 1000;
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	li {
		cursor: pointer;
		display: inline-block;
		margin: 8px 15px;
	}

	@media(max-width:552px){
		margin: 0px;
	}
}
#section_wrapper{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 100;
}
.section{
    text-align: center;
	vertical-align: middle;
	margin-top: 100px;
}
.section-content{
	max-width: 600px;
	margin: 0px auto;
	padding: 10px;
	text-align: left;
	.title{
		font-family: Cinzel, Helvetica, Arial, sans-serif;
		font-size: 24px;
		margin-bottom: 10px;
	}
	.description{
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
	}
}
#footer{
	width: 100%;
	text-align: center;
	z-index: 200;
	margin:25px 0px 15px 0px;
	#last_updated {
		font-family: Cinzel, Helvetica, Arial, sans-serif;
	    margin: 10px;
	    text-align: center;
	    font-weight: 300;
	    #date{
	    	color: #DDDDDD;
	    }
	}
	#credit{
		font-size: 12px;
	}
}
video::-webkit-media-controls {
    display:none !important;
}